/* Global */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
figure,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 70px 30px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-body {
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

/* Promo */

.promo {
  position: relative;

  overflow: hidden;

  background-color: rgba(60, 47, 105, 0.7);
}

.promo__title {
  margin-bottom: 96px;

  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #f7f3ea;
  text-transform: uppercase;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 1 0 0;
  -webkit-box-flex: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;

  -ms-flex: 1 0 0;
}

.promo__list {
  width: 50%;
  padding-top: 50px;
}

.promo__item {
  margin-bottom: 100px;

  font-size: 24px;
  text-align: center;
  color: #f7f3ea;
}

.promo__button {
  width: 175px;
  margin: 0 auto;
  padding: 13px 33px;

  text-align: center;

  background: transparent;
  border: 2px solid #f7f3ea;
}

.promo__button:focus,
.promo__button:hover {
  opacity: 0.6;
}

.promo__link {
  color: #f7f3ea;
  text-transform: uppercase;
}

.promo__videoBg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  min-width: 100%;
  min-height: 100%;
}

/* Composition */

.composition {
  display: -ms-grid;
  display:     grid;

  background-color: #17c2a4;

  -ms-grid-columns: (1fr)[3];
  -ms-grid-rows: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.composition > *:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.composition > *:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.composition > *:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.composition > *:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}

.composition > *:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.composition > *:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

.composition > *:nth-child(7) {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

.composition > *:nth-child(8) {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
}

.composition > *:nth-child(9) {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

.composition__card {
  margin-bottom: 40px;

  text-align: center;
}

.composition__card--image {
  margin-top: 150px;

  text-align: center;

  -ms-grid-column: 2;
  grid-column-end: 3;
  -ms-grid-column-span: 1;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-end: 4;
  -ms-grid-row-span: 3;
  grid-row-start: 1;
}

.card__image {
  margin-bottom: 30px;

  border-radius: 50%;

  -o-object-fit: cover;
     object-fit: cover;
}

.card__subtitle {
  margin-bottom: 30px;

  color: #f7f3ea;
}

/* Reviews */

.reviews {
  text-align: center;

  background-color: #e7f1f8;
}

.reviews__block {
  display: none;
}

.reviews__author-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.reviews__author-image {
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__button {
  background: transparent;
  border: none;
}

.reviews__button:focus,
.reviews__button:hover {
  opacity: 0.6;
}

.reviews__silder--active {
  display: block;
}

/* About */

.about {
  background-color: #ffdd99;
}

.about .promo__link {
  color: black;
}

.about .promo__button {
  border-color: black;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 70px;
}

.about__text {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about__item {
  margin-right: 10px;
}

.about__item:last-child {
  margin-right: 0;
}

/* Order */

.order {
  color: #f7f3ea;

  background-color: #3c5499;
}

.order__title {
  margin-bottom: 70px;

  font-size: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.timer__numbers {
  margin-bottom: 70px;

  font-size: 48px;
  text-align: center;
}

.order__price {
  margin-left: 170px;
}

.order__price--old {
  margin: 0;
  margin-left: 30px;

  font-size: 30px;
  text-decoration: line-through;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

.order__price--new {
  width: 300px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 48px;

  -webkit-animation: pulsing 1.3s infinite;
          animation: pulsing 1.3s infinite;
}


.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.order__form {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 30%;
}

.order__label {
  display: block;
  margin-bottom: 30px;
}

.order__label:last-of-type {
  margin-bottom: 50px;
}

.order__input {
  width: 100%;
  height: 40px;
  padding: 20px;

  outline: none;
}

.order__button {
  color: #f7f3ea;
  text-transform: uppercase;

  cursor: pointer;
}

.order__button:focus,
.order__button:hover {
  opacity: 0.6;
}

.helpText {
  width: 100%;
  margin-top: 2px;
  padding: 5px;

  font-size: 14px;
  color: black;

  background-color: #e7f1f8;
  border: 1px solid rgb(240, 63, 63);
  border-radius: 1px;
}

/* Media */

@media (max-width: 1024px) {
  /* Promo */

  .promo__title {
    font-size: 32px;
  }

  .promo__photo img {
    width: 200px;
  }

  .promo__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .promo__list {
    padding-top: 20px;
  }

  .promo__item {
    margin-bottom: 50px;

    font-size: 18px;
  }

  /* Composition */

  .composition__card--image img {
    width: 200px;
  }

  /* About */

  .about__image img {
    width: 480px;
  }

  /* Order */

  .order__title {
    font-size: 32px;
  }

  .order__image img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  /* About */

  .about__image img {
    width: 320px;
    margin-top: 50px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__list {
    width: 80%;
  }

  .about__item {
    text-align: center;
  }

  /* Order */

  .order__price {
    margin-left: 50px;
  }

  .order__price--old {
    margin-bottom: 50px;
  }

  .order__form {
    width: 40%;
  }

  .order__image img {
    width: 150px;
  }
}

@media (max-width: 670px) {
  section {
    padding: 50px 20px;
  }
  /* Promo */

  .promo__title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 26px;
  }

  .promo__wrapper {
    display: block;
  }

  .promo__photo {
    text-align: center;
  }

  .promo__list {
    width: 100%;
    margin: 0 auto;
  }

  /* Composition */

  .composition {
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .composition__card--image {
    display: none;
  }

  /* Reviews */

  .reviews__author-picture {
    width: 160px;
    height: 160px;
  }

  /* About */

  .about__wrapper {
    display: block;
  }

  .about__image {
    text-align: center;
  }

  .about__image img {
    margin-top: 0;
  }

  .about__list {
    width: 100%;
  }

  .about__item {
    font-size: 14px;
  }

  /* Order */

  .order__wrapper {
    display: block;
  }

  .order__price {
    margin-left: 20px;
  }

  .order__form {
    width: 100%;
  }

  .order__button {
    width: 100%;
    margin-bottom: 50px;
  }

  .order__image {
    display: none;
  }
}

@media (max-width: 375px) {
  /* Composition */

  .composition {
    display: block;
  }
}

@media (max-width: 320px) {
  /* Promo */

  .promo__title,
  .order__title {
    font-size: 18px;
  }

  .promo__photo img {
    width: 180px;
  }

  .promo__button {
    padding: 10px 20px;

    font-size: 12px;
  }

  /* About */

  .about__image img {
    width: 250px;
  }

  .about__list {
    display: block;
  }

  .about__item {
    margin-bottom: 20px;
  }

  .about__wrapper {
    margin-bottom: 30px;
  }
}
